.chartCard {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius);
    background: white;
    /* width: calc(100% - 8rem); */
    overflow-x: auto;
}

.accountSelect {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chartCard__chartTitle {
    margin-bottom: 1rem;
    color: var(--text-neutral-color);
    font-weight: 700;
    font-size: 1rem;
}

.chartCard__container {
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 4rem;
    min-width: 500px;
    height: 100%;
}

.canvasTextAlternative {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius);
    background: var(--primary-text-color);
    padding: 1rem;
    overflow: auto;
}
