.chartCard {
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius);
    background: white;
    /* height: 400px; */
    overflow-x: auto;
    /* min-height: 400px; */
    /* overflow: auto; */
}

.accountSelect {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chartCard__chartTitle {
    margin-bottom: 1rem;
    color: var(--text-neutral-color);
    font-weight: 700;
    font-size: 1rem;
}

.chartCard__container {
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 4rem;
    width: calc(100% - 2rem);
    min-width: 600px;
    height: 100%;
}
