.navbar {
    border-bottom: solid 4px var(--primary-light-color);
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    color: var(--primary-text-color);
    font-size: 0.8rem;
    word-spacing: 3px;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-content-width);
}

.navbar__anzLink {
    display: inline-block;
}

.navbar__anzLogo {
    width: 100px;
    height: auto;
}

.navbar__item_contentCentered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__tagline {
    margin-left: 10px;
}
