.appLayout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: var(--max-content-width);
}

.appLayout__main {
    flex-grow: 1;
    padding: 1rem;
}
