.appLayout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--max-content-width);
}

.appLayout__mainContainer {
    position: relative;
    flex-grow: 1;
    z-index: var(--z-index-main-content);
}

.appLayout__main {
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 800px;
}

.appLayout__mainSideNav {
    position: sticky;
    top: 20px;
}

.appLayout__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    border-top: 4px solid var(--primary-light-color);
    background: var(--primary-color);
    padding: 2rem;
    color: var(--primary-text-color);
}

.appLayout__footer a {
    color: inherit;
}
