.dropdown {
    position: relative;
}

.dropdown__dropdownMenu {
    visibility: hidden;
    will-change: transform;
    opacity: 0;
    min-width: 160px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px 0;
    border-radius: 3px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.4rem;
    top: calc(100% + 3px);
    background: var(--primary-text-color);
    color: var(--text-neutral-color);
}

.dropdown__dropdownMenu_visible {
    visibility: visible;
    opacity: 1;
}

.dropdown__dropdownMenuItem {
    background: var(--primary-text-color);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    font-size: 0.8rem;
    color: var(--primary-color);
}

.dropdown__dropdownMenuItem:focus {
    outline: var(--primary-light-color) solid 1px;
}

.dropdown__dropdownMenuItem:hover {
    background: var(--primary-focus-bg-color);
}
.dropdown__dropdownMenuItem:active {
    background: var(--primary-active-bg-color);
}
