@import-normalize;

* {
    margin: 0;
    padding: 0;
    /*
        The actual ANZ website uses MYRIADPRO
        but the mockup looks more like Noto Sans Vithkuqi,
        so that's what I'm using here.
    */
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

:root {
    --primary-color: #1a3858;
    --primary-light-color: #336fad;
    --primary-text-color: #fff;
}

.navbar {
    background: var(--primary-color);
    border-bottom: solid 4px var(--primary-light-color);
    color: var(--primary-text-color);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 3px;
    font-size: 0.8rem;
}

.navbar__anz-link-logo {
    display: inline-block;
}

.navbar__anz-link-logo img {
    width: 100px;
    height: auto;
}

.navbar__item--content-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__tagline {
    margin-left: 10px;
}
