@import-normalize;

* {
    margin: 0;
    padding: 0;
    /*
        The actual ANZ website uses MYRIADPRO
        but the mockup looks more like Noto Sans Vithkuqi,
        so that's what I'm using here.
    */
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

:root {
    --primary-color: #1a3858;
    --primary-light-color: #336fad;
    --primary-text-color: #fff;
    --neutral-text-color: #0c0a0a;
}
