.button {
    border: none;
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
}

.button_transparent {
    background-color: transparent;
    color: var(--primary-text-color);
}

.button_transparent:focus {
    outline: var(--primary-light-color) solid 1px;
}

.button_focusable[aria-expanded='true'] {
    background-color: var(--primary-text-color);
    color: var(--primary-color) !important;
}
