.button {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline-offset: 2px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.2rem 0.4rem;
    font-weight: bold;
}

.button_primary {
    box-shadow: var(--box-shadow-generic);
    background-color: var(--primary-color);

    color: var(--primary-text-color);
}

.button_primary:focus-visible {
    outline: var(--primary-light-color) solid 2px;
}

.button_transparent {
    background-color: transparent;
    color: var(--primary-text-color);
}

.button_transparent:focus-visible {
    outline: var(--primary-text-color) solid 2px;
}

.button_transparent.button_expandable[aria-expanded='true'] {
    background-color: var(--primary-text-color);
    color: var(--primary-color) !important;
}

.button_expandable[aria-expanded='true'] svg[class^='iconify'] {
    transform: rotate(180deg); /* the angle bracket down icon */
}

.formLabel {
    display: inline-flex;
    flex-direction: column;
    font-size: 0.6rem;
}

.formSelect {
    outline-offset: 2px;
    box-shadow: var(--box-shadow-generic);
    border: none;
    background: var(--primary-text-color);
    padding: 0.2rem 0.8rem;
    color: var(--primary-color);
}

.formSelect:focus-visible {
    outline: var(--primary-color) solid 2px;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.menu {
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius);
    background: var(--primary-text-color);
    padding: 0.4rem;
    width: 160px;
    color: var(--primary-color);
    font-size: 0.8rem;
}
.menu_xl {
    width: 200px;
}
.menu_primary {
    padding: 0;
    color: var(--primary-light-color);
}

.menu_bold {
    font-weight: bold;
}

.menu ul,
.menu ol {
    list-style: none;
}

.menu__item {
    display: flex;
    column-gap: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    outline-offset: 2px;
    border: none;
    border-radius: var(--border-radius);
    background: var(--primary-text-color);
    padding: 0.5rem 1rem;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-decoration: none;
}

.menu .active {
    display: none;
    background: var(--primary-light-color);
    color: var(--primary-text-color);
}

.menu__item:focus-visible {
    outline: var(--text-neutral-color) solid 2px;
}

.menu__item svg {
    width: 1.5em;
    height: 1.5em;
}

.menu_xl .menu__item {
    padding: 1em 1.5em;
    padding-right: 4em;
}

.menu__item_active {
    background: var(--primary-light-color);
    color: var(--primary-text-color);
}

.menu__item:not(.menu__item_active):hover {
    background: var(--primary-focus-bg-color);
}
.menu__item:not(.menu__item_active):active {
    background: var(--primary-active-bg-color);
}

.checkboxLabel {
    display: flex;
    /* column-gap: 0.2rem; */
    font-size: 0.8rem;
}

.checkboxLabel input {
    vertical-align: middle;
    margin-right: 8px; /* Adjust as needed for spacing */
}
.table {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;
    background: white;
    min-width: 400px;
    color: var(--text-neutral-color);
    font-size: 1rem;
}
.table thead th,
.table tfoot th {
    color: var(--primary-color);
}

.table caption {
    padding: 0.5rem;
}
.table th,
.table td {
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
}
.table_centered {
    margin: 0 auto;
}
