.button {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 0.2rem 0.4rem;
}

.button_transparent {
    background-color: transparent;
    color: var(--primary-text-color);
}

.button_transparent:focus-visible {
    outline: var(--primary-text-color) solid 1px;
}

.button_focusable[aria-expanded='true'] {
    background-color: var(--primary-text-color);
    color: var(--primary-color) !important;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
